.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 240px;
  padding: 0.375rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #272833;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid #e7e7ed;
  border-radius: 0.25rem;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3); }

.dropdown-menu-right {
  right: 0;
  left: auto; }

.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem; }

.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem; }

.dropright .dropdown-toggle::after {
  vertical-align: 0; }

.dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem; }

.dropleft .dropdown-toggle::before {
  vertical-align: 0; }

.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto; }

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e7e7ed; }

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1.25rem;
  clear: both;
  font-weight: 400;
  color: #6B6C7E;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0; }

.dropdown-item:hover, .dropdown-item:focus {
  color: #272833;
  text-decoration: none;
  background-color: #f0f5ff; }

.dropdown-item.active, .dropdown-item:active {
  color: #272833;
  text-decoration: none;
  background-color: #f0f5ff; }

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #a7a9bb;
  background-color: transparent; }

.dropdown-menu.show {
  display: block; }

.dropdown-header {
  display: block;
  padding: 0.375rem 1.25rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6B6C7E;
  white-space: nowrap; }

.dropdown-item-text {
  display: block;
  padding: 0.5rem 1.25rem;
  color: #6B6C7E; }

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle; }

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  flex: 0 1 auto; }

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
  z-index: 1; }

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 1; }

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group,
.btn-group-vertical .btn + .btn,
.btn-group-vertical .btn + .btn-group,
.btn-group-vertical .btn-group + .btn,
.btn-group-vertical .btn-group + .btn-group {
  margin-left: -1px; }

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.btn-toolbar .input-group {
  width: auto; }

.btn-group > .btn:first-child {
  margin-left: 0; }

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.dropdown-toggle-split {
  padding-right: 0.70312rem;
  padding-left: 0.70312rem; }

.dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after,
.dropright .dropdown-toggle-split::after {
  margin-left: 0; }

.dropleft .dropdown-toggle-split::before {
  margin-right: 0; }

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split, .btn-group-sm .btn-group > .btn + .dropdown-toggle-split {
  padding-right: 0.5625rem;
  padding-left: 0.5625rem; }

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split, .btn-group-lg .btn-group > .btn + .dropdown-toggle-split {
  padding-right: 1.125rem;
  padding-left: 1.125rem; }

.btn-group.show .dropdown-toggle {
  box-shadow: inset 0 0 rgba(0, 0, 0, 0); }

.btn-group.show .dropdown-toggle.btn-link {
  box-shadow: none; }

.btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.btn-group-vertical .btn,
.btn-group-vertical .btn-group {
  width: 100%; }

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0; }

.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.btn-group-toggle > .btn,
.btn-group-toggle > .btn-group > .btn {
  margin-bottom: 0; }

.btn-group-toggle > .btn input[type="radio"],
.btn-group-toggle > .btn input[type="checkbox"],
.btn-group-toggle > .btn-group > .btn input[type="radio"],
.btn-group-toggle > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none; }

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%; }

.input-group > .form-control,
.input-group > .custom-select,
.input-group > .custom-file {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0; }

.input-group > .form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file:focus {
  z-index: 3; }

.input-group > .form-control + .form-control,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .custom-file,
.input-group > .custom-select + .form-control,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .custom-file,
.input-group > .custom-file + .form-control,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .custom-file {
  margin-left: -0.0625rem; }

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-group > .custom-file {
  display: flex;
  align-items: center; }

.input-group > .custom-file:not(:last-child) .custom-file-label,
.input-group > .custom-file:not(:last-child) .custom-file-label::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group > .custom-file:not(:first-child) .custom-file-label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-group-prepend,
.input-group-append {
  display: flex; }

.input-group-prepend .btn,
.input-group-append .btn {
  position: relative;
  z-index: 2; }

.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
  margin-left: -0.0625rem; }

.input-group-prepend {
  margin-right: -0.0625rem; }

.input-group-append {
  margin-left: -0.0625rem; }

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6B6C7E;
  text-align: center;
  white-space: nowrap;
  background-color: #e7e7ed;
  border: 0.0625rem solid #e7e7ed;
  border-radius: 0.25rem; }

.input-group-text input[type="radio"],
.input-group-text input[type="checkbox"] {
  margin-top: 0; }

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem; }

.custom-control-inline {
  display: inline-flex;
  margin-right: 1rem; }

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #FFF;
  background-color: #0B5FFF;
  box-shadow: none; }

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #F1F2F5, 0 0 0 2px #80acff; }

.custom-control-input:active ~ .custom-control-label::before {
  color: #FFF;
  background-color: #FFF;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }

.custom-control-input:disabled ~ .custom-control-label {
  color: #6c757d; }

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #F1F2F5; }

.custom-control-label {
  position: relative;
  margin-bottom: 0; }

.custom-control-label::before {
  position: absolute;
  top: 0.21875rem;
  left: -1.5rem;
  display: block;
  width: 1.0625rem;
  height: 1.0625rem;
  pointer-events: none;
  content: "";
  user-select: none;
  background-color: #FFF;
  box-shadow: none; }

.custom-control-label::after {
  position: absolute;
  top: 0.21875rem;
  left: -1.5rem;
  display: block;
  width: 1.0625rem;
  height: 1.0625rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%; }

.custom-checkbox .custom-control-label::before {
  border-radius: 0.125rem; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0B5FFF; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='512'%20height='512'%20viewBox='0%200%20512%20512'%3E%3Cpath%20class='lexicon-icon-outline'%20d='M502.091%2060.993c-9.909-9.91-25.962-9.91-35.843%200L129.26%20397.981%2045.752%20314.53c-9.881-9.909-25.962-9.909-35.843%200-9.909%209.909-9.909%2025.962%200%2035.843l98.257%2098.257c2.608%202.608%205.679%204.433%208.924%205.679%204.028%202.464%208.403%204.115%2012.952%204.115%206.49%200%2012.981-2.464%2017.936-7.418L502.09%2096.865c9.909-9.909%209.909-25.962%200-35.871v-.001z'%20fill='%23FFF'/%3E%3C/svg%3E"); }

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #0B5FFF;
  box-shadow: none; }

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23FFF' d='M0 2h4'/%3E%3C/svg%3E"); }

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: #b3cdff; }

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: #b3cdff; }

.custom-radio .custom-control-label::before {
  border-radius: 50%; }

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0B5FFF; }

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23FFF'/%3E%3C/svg%3E"); }

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: #b3cdff; }

.custom-select {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #272833;
  vertical-align: middle;
  background: #F1F2F5 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #e7e7ed;
  border-radius: 0.25rem;
  appearance: none; }

.custom-select:focus {
  border-color: #80acff;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(128, 172, 255, 0.5); }

.custom-select:focus::-ms-value {
  color: #272833;
  background-color: #F1F2F5; }

.custom-select[multiple], .custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none; }

.custom-select:disabled {
  color: #6c757d;
  background-color: #e9ecef; }

.custom-select::-ms-expand {
  opacity: 0; }

.custom-select-sm {
  height: 2rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 75%; }

.custom-select-lg {
  height: 3rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 125%; }

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0; }

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 2.5rem;
  margin: 0;
  opacity: 0; }

.custom-file-input:focus ~ .custom-file-label {
  border-color: #80acff;
  box-shadow: 0 0 0 0.2rem rgba(11, 95, 255, 0.25); }

.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #80acff; }

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse"; }

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 2.5rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #272833;
  background-color: #F1F2F5;
  border: 1px solid #e7e7ed;
  border-radius: 0.25rem;
  box-shadow: none; }

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #272833;
  content: "Browse";
  background-color: #e7e7ed;
  border-left: 1px solid #e7e7ed;
  border-radius: 0 0.25rem 0.25rem 0; }

.custom-range {
  width: 100%;
  padding-left: 0;
  background-color: transparent;
  appearance: none; }

.custom-range:focus {
  outline: none; }

.custom-range::-moz-focus-outer {
  border: 0; }

.custom-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: #0B5FFF;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);
  appearance: none; }

.custom-range::-webkit-slider-thumb:focus {
  outline: none;
  box-shadow: 0 0 0 1px #F1F2F5, 0 0 0 0.2rem rgba(11, 95, 255, 0.25); }

.custom-range::-webkit-slider-thumb:active {
  background-color: #bed4ff; }

.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 1rem;
  box-shadow: inset 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1); }

.custom-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #0B5FFF;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);
  appearance: none; }

.custom-range::-moz-range-thumb:focus {
  outline: none;
  box-shadow: 0 0 0 1px #F1F2F5, 0 0 0 0.2rem rgba(11, 95, 255, 0.25); }

.custom-range::-moz-range-thumb:active {
  background-color: #bed4ff; }

.custom-range::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 1rem;
  box-shadow: inset 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1); }

.custom-range::-ms-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #0B5FFF;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);
  appearance: none; }

.custom-range::-ms-thumb:focus {
  outline: none;
  box-shadow: 0 0 0 1px #F1F2F5, 0 0 0 0.2rem rgba(11, 95, 255, 0.25); }

.custom-range::-ms-thumb:active {
  background-color: #bed4ff; }

.custom-range::-ms-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: 0.5rem;
  box-shadow: inset 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1); }

.custom-range::-ms-fill-lower {
  background-color: #dee2e6;
  border-radius: 1rem; }

.custom-range::-ms-fill-upper {
  margin-right: 15px;
  background-color: #dee2e6;
  border-radius: 1rem; }


  
/********* Scrolled Header */
header.js-header {
  background-color: #000000;
  color: #FFFFFF;
  position: relative;
  z-index: 12;
  /********* Common **********/
  /********* end Common **********/
  /********* Scrolled Header *********/
  /********* end Scrolled Header *********/ }
  @media (max-width: 1200px) {
    header.js-header {
      z-index: 100; } }
  header.js-header ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    line-height: 0; }
  header.js-header .row-flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  header.js-header .arrow {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-family: 'icomoon';                  
    font-weight: 100;
    font-size: 11px;
    z-index: 2; }
    header.js-header .arrow::before {
      content: "\e904";
      display: inline-block;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all 0.3s cubic-bezier(0, 1, 0.66, 1);
      transition: all 0.3s cubic-bezier(0, 1, 0.66, 1); }
  header.js-header .right-arrow {
    display: inline-block;
    vertical-align: middle;
    font-family: 'icomoon';
    font-weight: 100;
    font-size: 11px; }
    header.js-header .right-arrow::before {
      content: "\e901";
      display: inline-block;
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
      -webkit-transition: all 0.3s cubic-bezier(0, 1, 0.66, 1);
      transition: all 0.3s cubic-bezier(0, 1, 0.66, 1); }
  header.js-header .js-close {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 0 5px 5px;
    z-index: 2;
    font-size: 20px; }
  @media screen and (min-width: 1200px) {
    header.js-header .js-collapse-sm .js-menu-collapse {
      position: absolute;
      top: auto;
      display: block;
      padding: 0;
      margin: 0 auto;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    header.js-header .js-collapse-sm:hover .arrow:before {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    header.js-header .js-collapse-sm:hover .js-menu-collapse {
      display: block;
      visibility: visible;
      opacity: 1; } }
  @media screen and (min-width: 1200px) and (min-width: 0\0) {
    header.js-header .js-collapse-sm .js-menu-collapse {
      position: fixed;
      top: auto;
      margin-top: 90px; } }
  @media screen and (max-width: 1199px) {
    header.js-header .js-collapse-sm .arrow:before {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    header.js-header .js-collapse-sm .arrow.collapsed:before {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    header.js-header .js-menu-collapse {
      width: 100%; } }
  header.js-header .main-header__wrapper {
    position: relative;
    max-height: 5000px;
    opacity: 1;
    /********* Icons **********/
    /********* end Icons **********/
    /********* Supramenu **********/
    /********* end Supramenu **********/
    /********* Main Nav **********/
    /********* end Main Nav **********/
    /********* Main Menu **********/
    /********* end Main Menu **********/
    /********* Right Menu **********/
    /********* end Right Menu **********/
    /********* Nav Movil **********/
    /********* end Nav Movil **********/
    /*********  User Menu **********/
    /********* end User Menu **********/
    /*********  language Menu **********/
    /********* end Language Menu **********/
    /********* Country Menu **********/
    /********* end Country Menu **********/
    /********* Mega menu **********/
    /********* end Mega menu **********/ }
    header.js-header .main-header__wrapper .js-h-hamburger {
      display: none; }
    header.js-header .main-header__wrapper .js-h-cart .items-cart {
      font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
      font-size: 11px;
      letter-spacing: 1px;
      line-height: 16px;
      line-height: 1;
      border-radius: 50%;
      background-color: #00538b;
      padding: 4px 6px;
      display: inline-block;
      vertical-align: super; }
    @media screen and (max-width: 1199px) {
      header.js-header .main-header__wrapper .js-h-hamburger {
        display: block; } }
    header.js-header .main-header__wrapper .supramenu {
      padding: 0;
      position: relative;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
      header.js-header .main-header__wrapper .supramenu-right {
        text-align: right; }
      header.js-header .main-header__wrapper .supramenu-left {
        text-align: left; }
      @media screen and (min-width: 1200px) {
        header.js-header .main-header__wrapper .supramenu__item {
          display: inline-block;
          position: relative;
          font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
          font-size: 11px;
          letter-spacing: 1px;
          line-height: 13px;
          color: #9A9A9A;
          vertical-align: middle; }
          header.js-header .main-header__wrapper .supramenu__item:after {
            content: "|";
            margin: 0 10px;
            display: inline-block;
            vertical-align: middle; }
          header.js-header .main-header__wrapper .supramenu__item:last-of-type::after {
            display: none; }
        header.js-header .main-header__wrapper .supramenu__item--country:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          margin-bottom: 3px;
          background: url(../images/icons/world-18-w.svg) no-repeat center; }
        header.js-header .main-header__wrapper .supramenu__item--about:after {
          content: "";
          display: inline-block !important;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          margin: 0 0 3px 0;
          background: url(../images/icons/external-18w.svg) no-repeat center; }
        header.js-header .main-header__wrapper .supramenu__item--icon:after {
          content: "";
          margin: 0; }
        header.js-header .main-header__wrapper .supramenu__item--icon span {
          display: none; }
        header.js-header .main-header__wrapper .supramenu__item--login:before {
          content: "|";
          margin: 0 10px;
          display: inline-block;
          vertical-align: middle; }
        header.js-header .main-header__wrapper .supramenu__item--user:before {
          content: "|";
          margin: 0 10px;
          display: inline-block;
          vertical-align: middle; }
        header.js-header .main-header__wrapper .supramenu__item--user .supramenu__link {
          color: #FFFFFF; }
        header.js-header .main-header__wrapper .supramenu__link {
          font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
          font-size: 11px;
          letter-spacing: 1px;
          line-height: 13px;
          color: #9A9A9A;
          text-transform: uppercase;
          padding: 11px 0;
          position: relative;
          display: inline-block;
          vertical-align: middle; }
        header.js-header .main-header__wrapper .supramenu__link:before {
          content: "";
          height: 1.2px;
          width: 0;
          position: absolute;
          bottom: 8px;
          left: 0;
          background-color: #9A9A9A;
          -webkit-transition: width 0.3s cubic-bezier(0, 1, 0.66, 1);
          transition: width 0.3s cubic-bezier(0, 1, 0.66, 1);
          height: 0.8px;
          bottom: 6px; }
        header.js-header .main-header__wrapper .supramenu__link:hover:before {
          width: 100%; }
        header.js-header .main-header__wrapper .supramenu i:before {
          font-size: 16px; }
        header.js-header .main-header__wrapper .supramenu .js-collapse-sm .js-menu-collapse {
          -webkit-transition-delay: .2s;
          transition-delay: .2s; }
        header.js-header .main-header__wrapper .supramenu .js-collapse-sm:hover .js-menu-collapse {
          -webkit-transition-delay: 0s;
          transition-delay: 0s; } }
      @media screen and (max-width: 1199px) {
        header.js-header .main-header__wrapper .supramenu {
          display: none; }
        header.js-header .main-header__wrapper .supramenu__list--left {
          background-color: #FFFFFF;
          max-width: 100%;
          margin: auto;
          padding: 0;
          display: block; }
          header.js-header .main-header__wrapper .supramenu__list--left .supramenu__item {
            display: inline-block;
            width: auto;
            vertical-align: top; }
        header.js-header .main-header__wrapper .supramenu__list--right {
          padding-top: 18px;
          background-color: #FFFFFF; }
          header.js-header .main-header__wrapper .supramenu__list--right .user-link {
            padding: 20px 0;
            border-top: 1px solid #EAEAEA;
            border-bottom: 1px solid #EAEAEA;
            display: block; }
            header.js-header .main-header__wrapper .supramenu__list--right .user-link .wrapper {
              max-width: 970px;
              margin: auto;
              padding: 0 10px;
              display: block; }
            header.js-header .main-header__wrapper .supramenu__list--right .user-link img {
              width: 33px;
              border-radius: 50%; }
            header.js-header .main-header__wrapper .supramenu__list--right .user-link span {
              font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
              font-size: 11px;
              letter-spacing: 1px;
              line-height: 18px;
              text-transform: uppercase;
              color: #000000;
              margin-left: 15px; }
        header.js-header .main-header__wrapper .supramenu__item {
          font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
          font-size: 13px;
          letter-spacing: 1px;
          line-height: 17px;
          display: block;
          width: 100%;
          padding: 0;
          background-color: #FFFFFF; }
        header.js-header .main-header__wrapper .supramenu__item--about a {
          padding: 18px 0 12px 15px;
          margin-left: 5px; }
        header.js-header .main-header__wrapper .supramenu__item--user {
          padding-bottom: 0; }
        header.js-header .main-header__wrapper .supramenu__item--country:after {
          content: "";
          display: inline-block;
          vertical-align: text-top;
          width: 18px;
          height: 18px;
          margin-bottom: 3px;
          background: url(../images/icons/world-18.svg) no-repeat center; }
        header.js-header .main-header__wrapper .supramenu__item--country .supramenu__link {
          display: inline-block;
          padding: 18px 15px 12px 15px;
          padding-right: 0; }
        header.js-header .main-header__wrapper .supramenu__item--about a {
          display: inline-block; }
        header.js-header .main-header__wrapper .supramenu__item--about:after {
          content: "";
          display: inline-block !important;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          margin: 0 0 3px 0;
          background: url(../images/icons/external-18.svg) no-repeat center; }
        header.js-header .main-header__wrapper .supramenu__link {
          font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
          font-size: 13px;
          letter-spacing: 1px;
          line-height: 17px;
          color: #000000;
          text-transform: uppercase;
          position: relative;
          display: block;
          max-width: 970px;
          margin: auto;
          padding: 18px 15px 12px 15px;
          display: block; }
          header.js-header .main-header__wrapper .supramenu__link i {
            font-size: 16px; }
          header.js-header .main-header__wrapper .supramenu__link span {
            display: inline-block;
            vertical-align: text-bottom; }
          header.js-header .main-header__wrapper .supramenu__link .icon {
            font-size: 15px;
            margin-right: 10px;
            vertical-align: middle; }
        header.js-header .main-header__wrapper .supramenu__item--language span {
          vertical-align: bottom; } }
      @media screen and (orientation: landscape) and (max-width: 1199px) {
        header.js-header .main-header__wrapper .supramenu__list--left {
          background-color: #FFFFFF;
          max-width: 100%;
          margin: auto;
          padding: 0 30px;
          display: block; } }
      @media screen and (max-width: 991px) {
        header.js-header .main-header__wrapper .supramenu__link {
          font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
          font-size: 11px;
          letter-spacing: 1px;
          line-height: 18px;
          max-width: 770px;
          padding: 10px 15px 10px 15px; }
        header.js-header .main-header__wrapper .supramenu__list--left {
          max-width: 770px; }
        header.js-header .main-header__wrapper .supramenu__list--right .user-link .wrapper {
          max-width: 770px; }
        header.js-header .main-header__wrapper .supramenu__list--right .user-link span {
          font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
          font-size: 11px;
          letter-spacing: normal;
          line-height: 18px; } }
   
   
          header.js-header .main-header__wrapper .main-nav {
      padding: 0; }
      header.js-header .main-header__wrapper .main-nav .logo-header {
        margin-right: 60px; }
      @media screen and (max-width: 1199px) {
        header.js-header .main-header__wrapper .main-nav {
          padding: 20px 0; }
          header.js-header .main-header__wrapper .main-nav .main-menu__wrapper {
            display: none; }
          header.js-header .main-header__wrapper .main-nav .logo-header {
            max-width: 72px;
            margin-right: 20px; } }
      @media screen and (max-width: 1024px) and (min-width: 768px) {
        header.js-header .main-header__wrapper .main-nav {
          padding: 30px 0; }
          header.js-header .main-header__wrapper .main-nav .main-menu__wrapper {
            display: none; }
          header.js-header .main-header__wrapper .main-nav .logo-header {
            max-width: 72px;
            margin-right: 20px; } }
      @media screen and (min-width: 0\0) {
        header.js-header .main-header__wrapper .main-nav .logo-header {
          margin-top: 30px;
          margin-bottom: 30px; } }
    header.js-header .main-header__wrapper .main-menu__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
    header.js-header .main-header__wrapper .main-menu__link {
      font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 14px;
      color: #FFFFFF;
      text-decoration: none;
      text-transform: uppercase; }
    @media screen and (min-width: 1200px) {
      header.js-header .main-header__wrapper .main-menu__item {
        margin-right: 30px;
        display: -ms-inline-flexbox; }
      header.js-header .main-header__wrapper .main-menu__link {
        position: relative;
        padding: 38px 0; }
        header.js-header .main-header__wrapper .main-menu__link:before {
          content: "";
          height: 1.2px;
          width: 0;
          position: absolute;
          bottom: 8px;
          left: 0;
          background-color: #FFFFFF;
          -webkit-transition: width 0.3s cubic-bezier(0, 1, 0.66, 1);
          transition: width 0.3s cubic-bezier(0, 1, 0.66, 1);
          bottom: 37%; }
        header.js-header .main-header__wrapper .main-menu__link:hover:before {
          width: 100%; }
        header.js-header .main-header__wrapper .main-menu__link:active:before, header.js-header .main-header__wrapper .main-menu__link.active:before {
          content: "";
          height: 1.2px;
          width: 75%;
          position: absolute;
          bottom: 21%;
          background-color: #FFFFFF;
          bottom: 37%;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
      header.js-header .main-header__wrapper .main-menu__wrapper .dropdown-menu {
        width: 100%;
        min-width: 100%; }
      header.js-header .main-header__wrapper .main-menu__list .link-wrapper {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative; }
        header.js-header .main-header__wrapper .main-menu__list .link-wrapper .arrow {
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          padding: 10px; } }
    @media screen and (max-width: 1199px) {
      header.js-header .main-header__wrapper .main-menu__item {
        display: block;
        width: 100%;
        padding: 0;
        background-color: #000000; }
      header.js-header .main-header__wrapper .main-menu__link {
        font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 17px;
        -webkit-box-flex: 100;
        -ms-flex-positive: 100;
        flex-grow: 100;
        padding: 18px 0; }
      header.js-header .main-header__wrapper .main-menu-collapse {
        max-height: 100vh;
        overflow-y: auto; }
        header.js-header .main-header__wrapper .main-menu-collapse .r-modal__wrapper {
          background-color: #FFFFFF;
          padding-bottom: 30px;
          height: calc(100% - 78px); }
      header.js-header .main-header__wrapper .main-menu__list {
        padding-bottom: 18px;
        background-color: #000000; }
        header.js-header .main-header__wrapper .main-menu__list .link-wrapper {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          max-width: 970px;
          margin: auto;
          padding: 0 5px 0 15px; }
          header.js-header .main-header__wrapper .main-menu__list .link-wrapper .arrow {
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding: 12px 10px;
            font-size: 20px; }
            header.js-header .main-header__wrapper .main-menu__list .link-wrapper .arrow:before {
              height: 18px;
              line-height: 1; } }
    @media screen and (max-width: 991px) {
      header.js-header .main-header__wrapper .main-menu__list .link-wrapper {
        max-width: 750px; }
      header.js-header .main-header__wrapper .main-menu__link {
        font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 19px; } }
    @media screen and (min-width: 0\0) {
      header.js-header .main-header__wrapper .main-menu__link {
        position: relative;
        padding: 38px 0; }
        header.js-header .main-header__wrapper .main-menu__link:before {
          content: "";
          height: 1.2px;
          width: 0;
          position: absolute;
          bottom: 8px;
          left: 0;
          background-color: #FFFFFF;
          -webkit-transition: width 0.3s cubic-bezier(0, 1, 0.66, 1);
          transition: width 0.3s cubic-bezier(0, 1, 0.66, 1);
          transition: width 0.3s linear;
          bottom: 37%;
          width: 0; }
        header.js-header .main-header__wrapper .main-menu__link:hover:before {
          width: 100%; }
        header.js-header .main-header__wrapper .main-menu__link:active:before, header.js-header .main-header__wrapper .main-menu__link.active:before {
          content: "";
          height: 1.1px;
          width: 75%;
          position: absolute;
          background-color: #FFFFFF;
          bottom: 37%;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%); } }
    header.js-header .main-header__wrapper .right-menu__wrapper {
      -webkit-box-flex: 100;
      -ms-flex-positive: 100;
      flex-grow: 100; }
    header.js-header .main-header__wrapper .right-menu__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    header.js-header .main-header__wrapper .right-menu__item {
      margin-left: 30px; }
      header.js-header .main-header__wrapper .right-menu__item:first-of-type {
        margin-left: 0; }
    header.js-header .main-header__wrapper .right-menu__link {
      font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 14px;
      color: #FFFFFF;
      text-decoration: none;
      text-transform: uppercase; }
      header.js-header .main-header__wrapper .right-menu__link i:before {
        font-size: 20px; }
    header.js-header .main-header__wrapper .r-modal {
      position: fixed;
      width: 100%;
      top: 0;
      left: 100%;
      -webkit-transform: translate(0);
      transform: translate(0);
      height: 100vh !important;
      max-height: 100vh !important;
      background: rgba(0, 0, 0, 0.75);
      z-index: 10;
      -webkit-transition: left 0.75s ease;
      transition: left 0.75s ease; }
      header.js-header .main-header__wrapper .r-modal .close-menu {
        width: 100%;
        text-align: right; }
      header.js-header .main-header__wrapper .r-modal.in {
        left: 0;
        width: 100vw;
        overflow-x: hidden; }
      header.js-header .main-header__wrapper .r-modal .close-menu {
        background: #000000; }
        header.js-header .main-header__wrapper .r-modal .close-menu a {
          font-size: 18px; }
        header.js-header .main-header__wrapper .r-modal .close-menu .wrapper {
          margin: auto;
          padding: 25px 15px; }
      @media screen and (max-width: 1199px) {
        header.js-header .main-header__wrapper .r-modal .close-menu .wrapper {
          max-width: 970px;
          margin: auto;
          padding: 25px 15px; } }
      @media screen and (max-width: 991px) {
        header.js-header .main-header__wrapper .r-modal .close-menu .wrapper {
          max-width: 750px; } }
      @media screen and (max-width: 767px) {
        header.js-header .main-header__wrapper .r-modal .close-menu .wrapper {
          padding: 15px; } }
    header.js-header .main-header__wrapper .js-user-menu {
      display: inline-block;
      vertical-align: middle; }
      @media screen and (min-width: 1200px) {
        header.js-header .main-header__wrapper .js-user-menu .link-wrapper {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          header.js-header .main-header__wrapper .js-user-menu .link-wrapper .arrow {
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding-left: 10px;
            color: #FFFFFF; }
          header.js-header .main-header__wrapper .js-user-menu .link-wrapper a img {
            display: none; }
        header.js-header .main-header__wrapper .js-user-menu .dropdown-menu {
          position: fixed;
          width: 330px;
          left: auto;
          top: 55px;
          padding: 0;
          max-width: none;
          transform: translateX(-280px);
          margin-top: 0; }
          header.js-header .main-header__wrapper .js-user-menu .dropdown-menu > .wrapper {
            padding-top: 25px;
            position: relative; }
            header.js-header .main-header__wrapper .js-user-menu .dropdown-menu > .wrapper::before {
              content: "";
              position: absolute;
              top: -11px;
              left: 90%;
              width: 0;
              height: 0;
              border-left: 11px solid transparent;
              border-right: 11px solid transparent;
              border-bottom: 11px solid #FFFFFF; }
          header.js-header .main-header__wrapper .js-user-menu .dropdown-menu li a {
            display: block;
            position: relative;
            padding: 15px 40px;
            font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
            font-size: 11px;
            letter-spacing: 1px;
            line-height: 14px;
            color: #000000;
            background-color: #FFFFFF;
            -webkit-transition: background-color 300ms cubic-bezier(0, 1, 0.66, 1);
            transition: background-color 300ms cubic-bezier(0, 1, 0.66, 1); }
            header.js-header .main-header__wrapper .js-user-menu .dropdown-menu li a:hover {
              background-color: #F7F7F7; }
          header.js-header .main-header__wrapper .js-user-menu .dropdown-menu li .icon {
            font-size: 15px;
            margin-right: 7px;
            vertical-align: middle; }
          header.js-header .main-header__wrapper .js-user-menu .dropdown-menu li.user-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-top: 1px solid #EAEAEA;
            margin-top: 25px; }
            header.js-header .main-header__wrapper .js-user-menu .dropdown-menu li.user-item a {
              padding: 0;
              display: inline-block;
              vertical-align: middle;
              font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
              font-size: 12px;
              line-height: 18px; }
            header.js-header .main-header__wrapper .js-user-menu .dropdown-menu li.user-item .user-link {
              -webkit-box-flex: 100;
              -ms-flex-positive: 100;
              flex-grow: 100; }
              header.js-header .main-header__wrapper .js-user-menu .dropdown-menu li.user-item .user-link img {
                width: 80px;
                margin-right: 10px; }
            header.js-header .main-header__wrapper .js-user-menu .dropdown-menu li.user-item .user-logout {
              border-left: 1px solid #EAEAEA;
              -webkit-box-pack: end;
              -ms-flex-pack: end;
              justify-content: flex-end;
              width: 80px;
              height: 80px;
              position: relative; }
              header.js-header .main-header__wrapper .js-user-menu .dropdown-menu li.user-item .user-logout span {
                display: none; }
            header.js-header .main-header__wrapper .js-user-menu .dropdown-menu li.user-item .icon-logout-18:before {
              position: absolute;
              color: #9A9A9A;
              font-size: 11px;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }
      @media screen and (max-width: 1199px) {
        header.js-header .main-header__wrapper .js-user-menu {
          display: block;
          background-color: #FFFFFF; }
          header.js-header .main-header__wrapper .js-user-menu .link-wrapper {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            max-width: 970px;
            margin: auto;
            padding: 0px 15px;
            border-top: 1px solid #EAEAEA;
            border-bottom: 1px solid #EAEAEA; }
            header.js-header .main-header__wrapper .js-user-menu .link-wrapper .arrow {
              display: none; }
              header.js-header .main-header__wrapper .js-user-menu .link-wrapper .arrow:before {
                height: 18px;
                line-height: 1; }
            header.js-header .main-header__wrapper .js-user-menu .link-wrapper a {
              padding: 18px 0;
              -webkit-box-flex: 100;
              -ms-flex-positive: 100;
              flex-grow: 100; }
              header.js-header .main-header__wrapper .js-user-menu .link-wrapper a span {
                margin-left: 15px; }
              header.js-header .main-header__wrapper .js-user-menu .link-wrapper a img {
                width: 40px; }
          header.js-header .main-header__wrapper .js-user-menu .supramenu__link {
            max-width: inherit;
            margin: 0;
            padding: 0; }
          header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse .wrapper {
            position: relative; }
          header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse li {
            display: block; }
            header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse li a {
              max-width: 970px;
              margin: auto;
              display: block;
              padding: 12px 15px;
              font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
              font-size: 10px;
              letter-spacing: 1px;
              line-height: 14px;
              color: #000000; }
            header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse li .icon {
              font-size: 15px;
              margin-right: 10px;
              vertical-align: middle; }
            header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse li:first-of-type a {
              padding-top: 24px; }
            header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse li.user-item {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-flow: row wrap;
              flex-flow: row wrap;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              border-top: 1px solid #EAEAEA;
              margin-top: 12px; }
              header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse li.user-item a {
                padding: 0;
                display: inline-block;
                vertical-align: middle; }
              header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse li.user-item .user-link {
                display: none; }
              header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse li.user-item .user-logout {
                width: 100%;
                position: relative;
                padding: 20px 15px; }
                header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse li.user-item .user-logout span {
                  display: inline-block; }
              header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse li.user-item .icon-logout-18:before {
                position: relative;
                margin-right: 10px;
                color: #9A9A9A;
                font-size: 11px; } }
      @media screen and (max-width: 991px) {
        header.js-header .main-header__wrapper .js-user-menu .link-wrapper {
          max-width: 750px; }
        header.js-header .main-header__wrapper .js-user-menu .js-menu-collapse li a {
          font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
          font-size: 10px;
          letter-spacing: 1px;
          line-height: 14px;
          max-width: 750px;
          margin: auto; } }
    header.js-header .main-header__wrapper .js-language-menu {
      font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
      font-size: 11px;
      letter-spacing: 1px;
      line-height: 13px;
      color: #9A9A9A;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      vertical-align: middle; }
      @media screen and (min-width: 1200px) {
        header.js-header .main-header__wrapper .js-language-menu .link-wrapper {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          header.js-header .main-header__wrapper .js-language-menu .link-wrapper .arrow {
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding-left: 10px; }
        header.js-header .main-header__wrapper .js-language-menu .dropdown-menu {
          width: 300%;
          left: auto;
          top: 55px;
          padding: 0;
          margin-top: 0; }
          header.js-header .main-header__wrapper .js-language-menu .dropdown-menu .wrapper {
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative; }
            header.js-header .main-header__wrapper .js-language-menu .dropdown-menu .wrapper::before {
              content: "";
              position: absolute;
              top: -11px;
              left: 10%;
              width: 0;
              height: 0;
              border-left: 11px solid transparent;
              border-right: 11px solid transparent;
              border-bottom: 11px solid #FFFFFF; }
          header.js-header .main-header__wrapper .js-language-menu .dropdown-menu li a {
            display: block;
            padding: 15px 30px;
            font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
            font-size: 11px;
            letter-spacing: 1px;
            line-height: 14px;
            color: #000000; }
            header.js-header .main-header__wrapper .js-language-menu .dropdown-menu li a:hover {
              color: #00538b; } }
      @media screen and (max-width: 1199px) {
        header.js-header .main-header__wrapper .js-language-menu {
          display: block;
          background-color: #FFFFFF;
          font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
          font-size: 13px;
          letter-spacing: 1px;
          line-height: 17px; }
          header.js-header .main-header__wrapper .js-language-menu .link-wrapper {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            max-width: 970px;
            margin: auto;
            padding: 18px 15px; }
            header.js-header .main-header__wrapper .js-language-menu .link-wrapper .arrow {
              -webkit-box-pack: end;
              -ms-flex-pack: end;
              justify-content: flex-end;
              padding-left: 10px;
              color: #000000;
              font-size: 18px; }
              header.js-header .main-header__wrapper .js-language-menu .link-wrapper .arrow:before {
                height: 18px;
                line-height: 1; }
            header.js-header .main-header__wrapper .js-language-menu .link-wrapper a {
              -webkit-box-flex: 100;
              -ms-flex-positive: 100;
              flex-grow: 100; }
          header.js-header .main-header__wrapper .js-language-menu .supramenu__link {
            max-width: inherit;
            margin: 0;
            padding: 0; }
          header.js-header .main-header__wrapper .js-language-menu .js-menu-collapse .wrapper {
            position: relative; }
          header.js-header .main-header__wrapper .js-language-menu .js-menu-collapse li {
            display: block; }
            header.js-header .main-header__wrapper .js-language-menu .js-menu-collapse li a {
              max-width: 970px;
              margin: auto;
              display: block;
              padding: 12px 15px;
              font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
              font-size: 10px;
              letter-spacing: 1px;
              line-height: 14px;
              color: #000000;
              margin-left: 15px; }
            header.js-header .main-header__wrapper .js-language-menu .js-menu-collapse li:first-of-type a {
              padding-top: 12px; } }
      @media screen and (max-width: 991px) {
        header.js-header .main-header__wrapper .js-language-menu {
          font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
          font-size: 10px;
          letter-spacing: 1px;
          line-height: 14px; }
          header.js-header .main-header__wrapper .js-language-menu .link-wrapper {
            max-width: 750px; }
          header.js-header .main-header__wrapper .js-language-menu .js-menu-collapse li a {
            max-width: 750px;
            margin: auto; } }
    header.js-header .main-header__wrapper .country-menu-collapse h2 {
      margin-bottom: 40px; }
    header.js-header .main-header__wrapper .country-menu-collapse h3 {
      margin-bottom: 20px; }
      header.js-header .main-header__wrapper .country-menu-collapse h3 a {
        font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF; }
  